*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: large;
    
    
}

body {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden; /* Disable horizontal scrollbar */
}


h1{
    font-size: 100px;
}

p{

    font-size: 20px;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#section1{
   
   
    height: 80vh;
    width: 100%;
    background-color: black;
    background-image: url('../img/section_1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-attachment: fixed;

    p{
        color: white;
    }

    .principal{
        
        text-align: center;
        font-family: 'Dancing Script', cursive;
       
        padding: 50px;
        border-radius: 10px;
        margin-top: 20px; /* Add margin for spacing */
        color: white;
        
    }

}


#section2{
    height: 40vh;
    


    display: flex;
    align-items: center;
    justify-content: center;

    .foto{
        background-image: url('../img/boda_1.jpg');
        height: 300px;
        width: 90%;
        background-position: center;
        background-size: cover;
    }
   
  

   
}


#padres{
    
    height: 80vh;
    background-image: url('../img/background11.png');
    background-color: black;
    background-position: center;
    background-size: cover;
    color: black;

    


    display: flex;
    align-items: center;
    justify-content: center;
   
    background-attachment: fixed;
   
    
}



#cuenta-atras{
    height: 50vh;

    background-image: url('../img/imagen2.jpg');
    
    background-position: top;
    background-size: cover;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-attachment: fixed;

    h2{
        font-size: 20px;
    }


    #countdown{
        // background-color: rgba(0, 0, 0, 0.7);
        // padding: 20px;
        // width: 40%;
        // height: 20%;
        text-align: center;
            padding: 40px;
            background-color: #ffffff; /* Set a white background color for the container */
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */


        
      
    }
    
    .countdown-item{
        margin: 0 10px;
    }
}

.backgroun{
    text-align: center;
    font-family: 'Dancing Script', cursive;
   
    
    padding: 50px;
    border-radius: 10px;
    margin-top: 20px; /* Add margin for spacing */
    // color: white;
}





#ceremonia{
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
  
    background-attachment: fixed;

    h1{
        font-size: 18px;
    }

}



// Define your button styles
$button-background: black;
$button-text-color: white;

.button {
  // Basic styling
  padding: 10px 20px;
  background-color: $button-background;
  color: $button-text-color;
  border: none;
  border-radius: 0; // Not rounded
 

  // Hover effect
  &:hover {
    background-color: $button-text-color;
    color: $button-background;
  }
}


#codigo-vestimenta{
    height: 60vh;
    border: 2px solid #333;

    h1{
        color: black;
    }
   

    display: flex;
    align-items: center;
    justify-content: center;
   
    background-attachment: fixed;

    .dressContainer{
        
       margin-bottom: 20px;
       
    
    }
}








//small devices


@media (max-width: 576px) {
    body {
      font-size: 20px;
    }
  
    .container {
      width: 100%;
    }


    h1{
        font-size: 40px;
        color: white;
    }

    p{
        font-size: 18px;
        color: gray;
    }



    #section1{
       
        height:100vh;

        .principal{
           
        
            text-align: center;
        
            font-family: 'Dancing Script', cursive;

            .enLinea{
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .section{
                    font-size: 25px;
                    flex:1;
                    text-align: center;
                    border-top: 2px solid white;
                    border-bottom: 2px solid white;
                    padding: 10px 0;

                    &:not(:last-child){
                        margin-right: 10px;
                    }


                }
                
            }


           h1{
            font-size: 40px;
           }
            
            padding: 50px;
            border-radius: 10px;
            margin-top: 20px; /* Add margin for spacing */
            color: white;
            
        }

        
    }


    #section2{
       
        height: 800px;
        

        img{
            padding: 10px;
        }

        
    }


    #padres{
        height: 750px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-color: blue;
        color: black;
    }


  #cuenta-atras{
    height: 500px;
            #countdown{
                background-color: rgba(0, 0, 0, 0.7);
                padding: 20px;
                width: 80%;
                height: 130px;
                border-radius: none;
            }
            
        }





    #ceremonia{
        height: 600px;
        h1{
            color: black;
            font-size: 30px;
            padding-bottom: 10px;
        }
       
    }



//for carousel of padrinos.

#carouselExampleFade{
  
    height: 250px;
    border: 2px black;
    
    button{color: black;}

    .padrinos{
        
        height: 250px;
        background-color: #fff;
        border: 2px solid #e0e0e0;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        h1{
            color: black;
            font-size: 30px;
        }
    }
    
}



   







    #padrinos{
       
        margin-bottom: 0;
        height: 80vh;
        h1{
            color:black;
        }

        .carousel{
            height: 300px;
            display: flex;
            align-items: center;
            border: 4px solid #f7ede2; 
            border-radius: 15px; /* Rounded corners */
            padding: 20px; /* Add some padding for content */
            text-align: center; /* Center text */
             background-color: #fff; /* White background */
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */

        }

      
    }


    #codigo-vestimenta{
        border: none;
        margin-top: 0;
        padding-top: 0;
        
        height: 100vh;
        background-image: url('/img/image4.jpg');
        background-size: cover;

        h1{
            padding-bottom: 10px;
        }

        .dressContainer{
            // background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;



        }

    }



    #programa{
       
        height: 200vh;
        padding-top: 20px;
        h1{
            color: black;
        }

        .programa-1{
         
            
        }

        .event-section img{
            height: 50px;
        }

        
    }


   
  }//end smalll
  










//medium


  /* Media query for medium screens (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    body {
      font-size: 15px;
    }


    .container {
        width: 100%;
      }
  
  
      h1{
          font-size: 40px;
      }
  
  
  
      #section1{
        height: 100vh;
   
   
       
       
        background-image: url('../img/section_1.jpg');

        background-position: center;
        background-size: cover;
       
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-attachment: fixed;



        



    
        p{
            color: white;
        }
    
        .principal{
            
            text-align: center;
            font-family: 'Dancing Script', cursive;
            // background-color: rgba(0, 0, 0, 0.5);
            padding: 50px;
            border-radius: 10px;
            margin-top: 20px; /* Add margin for spacing */
            color: white;
            
        }
    
    }
  
  
      #section2{
         
          height: 130vh;
  
          
      }
  
  
      #padres{
          height: 1000px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
      }
  
  
    #cuenta-atras{
      height: 500px;
              #countdown{
                  background-color: rgba(0, 0, 0, 0.7);
                  padding: 20px;
                  width: 80%;
                  height: 30%;
              }
              
          }
  
  
  
  
  
      #ceremonia{
          height: 100vh;
          background-color:#F8F8F8;
          h1{
            font-size: 30px;
          }
        
          
      }


      #padrinos{
        
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .carousel{
            height: 300px;
            display: flex;
            align-items: center;
            border: 4px solid #f7ede2; 
            border-radius: 15px; /* Rounded corners */
            padding: 20px; /* Add some padding for content */
            text-align: center; /* Center text */
             background-color: #fff; /* White background */
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */

        }
    

        
      }
  
  
  
      #codigo-vestimenta{
          height: 90vh;
          border: none;
          background-image: url('/img/image4.jpg');
          background-position: center;
          background-size: cover;

          .dressContainer{
            display: flex;
            justify-content: space-between;
          }
          
      }
  
  
      #programa{
          height: 1400px;
          padding-top: 10px;
  
          .event-section img {
              max-width: 80%;
              height: 80px;
              margin-bottom: 10px;
         
          }
      }
  
  




  
  

}






  



  /* Media query for large screens (769px and above) */
@media (min-width: 769px) {
    body {
      font-size: 17px;
    }


    h1{
        font-size: 60px;
    }
    
    p{
        font-size: 20px;
    }

    #section1{
   
   
        height: 100vh;
        background-color: black;
        background-image: url('../img/section_1.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
       
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-attachment: fixed;
    
        p{
            color: white;
        }



        .enLinea{
            color: red;
            .section{
                font-size: 30px;
                color:white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

        }


    
        .principal{
            
            text-align: center;
            font-family: 'Dancing Script', cursive;
            
            padding: 50px;
            border-radius: 10px;
            margin-top: 20px; /* Add margin for spacing */
            color: white;
            
        }
    
    }
   

    



  
   
    
     
    
    
    
    
        #section2{
            height: 1000px;
            
        
        
            display: flex;
            align-items: center;
            justify-content: center;
        
            .foto{
                background-image: url('../img/boda_1.jpg');
                height: 400px;
                width: 70%;
                background-position: center;
                background-size: cover;
            }
           
          
        
           
        }
    
    
        #padres{
           height: 80vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
    
    
      #cuenta-atras{
        height: 500px;
                #countdown{
                    background-color: rgba(0, 0, 0, 0.7);
                    padding: 20px;
                    width: 50%;
                    height: 30%;
                }
                
            }
    
    
    
    
    
        #ceremonia{
            height: 800px;
        }
    
    
    
        #codigo-vestimenta{
            height: 600px;
            width: 90%;
            
        }
    
    
        #programa{
            height: 800px;
    
            .event-section img {
                max-width: 80%;
                height: 80px;
                margin-bottom: 10px;
           
            }
        }



        #padrinos{

            background-color: #F8F8F8;
           
            color: black;
            padding: 10px;
           

            .carousel{
                height: 300px;
                display: flex;
                align-items: center;
                border: 4px solid #f7ede2; 
                border-radius: 15px; /* Rounded corners */
                padding: 20px; /* Add some padding for content */
                text-align: center; /* Center text */
                 background-color: #fff; /* White background */
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    
            }

        }      
        
        

        #codigo-vestimenta{
            border: none;
            background-image: url('/img/image4.jpg');
            background-size: cover;
            width: 100%;

            .dressContainer{
                
                display: flex;
                align-items: center;
              
                justify-content: space-around;
            }
        }

      
    
  
  }//end

