
$primary-color:#FFF6E9;
$beige-oscuro: #CCD3CA;
// $beige-oscuro:#F2EFE5;
// $beige-oscuro:#FDF7E4;
$verde: #E1F0DA;
$oro: #cca352;
$letra-beige: #EBD9B4;

*{
    box-sizing:border-box;
    margin: 0;
    padding:0;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: large;
    
    
}

body {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden; /* Disable horizontal scrollbar */
}


h1{
    font-size: 100px;
}

p{

    font-size: 20px;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#section1{
   
   
    height: 80vh;
    width: 100%;
    background-color: black;
    background-image: url('../img/anillo_ely.jpeg');
    background-position: center;
    background-size: cover;
    
    background-repeat: no-repeat;
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   

    p{
        color: white;
    }

    .principal{
        
        text-align: center;
        font-family: 'Dancing Script', cursive;
       
        padding: 50px;
        border-radius: 10px;
        margin-top: 20px; /* Add margin for spacing */
        color: white;
        
    }

}


#section2{
    height: 40vh;
    
   

    display: flex;
    align-items: center;
    justify-content: center;

    .foto{
        background-image: url('../img/background-ely.jpeg');
        height: 300px;
        width: 90%;
        background-position: center;
        background-size: cover;
    }
   
  

   
}


.carousel-control-prev-icon, 
.carousel-control-next-icon  {
background-color: $beige-oscuro;
height: 30px;
width: 30px;

}

#padres{
    
    height: 80vh;
    background-image: url('../img/background_20.jpg');
    background-color: black;
    background-position: center;
    background-size: cover;
    color: black;

    


    display: flex;
    align-items: center;
    justify-content: center;
   
  
   
    
}



#cuenta-atras{
    height: 50vh;

    background-image: url('../img/ely-roger.jpeg');
    
    background-position: bottom;
    background-size: cover;
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  

    h2{
        font-size: 20px;
    }


    #countdown{
        // background-color: rgba(0, 0, 0, 0.7);
        // padding: 20px;
        // width: 40%;
        // height: 20%;
        text-align: center;
            padding: 40px;
            background-color: #ffffff; /* Set a white background color for the container */
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */


        
      
    }
    
    .countdown-item{
        margin: 0 10px;
    }
}

.backgroun{
    text-align: center;
    font-family: 'Dancing Script', cursive;
   
    
    padding: 50px;
    // border-radius: 10px;
    margin-top: 20px; /* Add margin for spacing */
    // color: white;
}





#ceremonia{
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
  
  

    h1{
        font-size: 18px;
    }

}



// Define your button styles
$button-background: black;
$button-text-color: white;

.button {
  // Basic styling
  padding: 10px 20px;
  background-color: $button-background;
  color: $button-text-color;
  border: none;
  border-radius: 0; // Not rounded
 

  // Hover effect
  &:hover {
    background-color: $button-text-color;
    color: $button-background;
  }
}


#codigo-vestimenta{
    height: 60vh;
    border: 2px solid #333;

    h1{
        color: black;
    }
   

    display: flex;
    align-items: center;
    justify-content: center;
   
   

    .dressContainer{
        
       margin-bottom: 20px;
       
    
    }
}




//small devices


@media (max-width: 576px) {
    body {
      font-size: 20px;
    }
  
    .container {
      width: 100%;
    }


    h1{
        font-size: 40px;
        color: white;
    }

    p{
        font-size: 18px;
        color: gray;
    }



    #section1{
       
        height:100vh;
        

        .principal{
           
        
            text-align: center;
        
            font-family: 'Dancing Script', cursive;
            

          

            .enLinea{
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .section{
                    font-size: 25px;
                    flex:1;
                    text-align: center;
                    border-top: 2px solid white;
                    border-bottom: 2px solid white;
                    padding: 10px 0;

                    &:not(:last-child){
                        margin-right: 10px;
                    }


                }
                
            }


           h1{
            font-size: 40px;
           }
            
            padding: 50px;
            border-radius: 10px;
            margin-top: 20px; /* Add margin for spacing */
            color: white;
            
        }

        
    }


    #section2{
        // background-color: rgba(0, 0, 0, 0.1);
        background-color: $beige-oscuro;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        button{
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: black;
            font-size: 20px;
            width: 100%;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
       
        h1{
            color: black;
            font-size: 26px;
            font-weight: 200;
        }
       
        height: 800px;

        h2{
            font-size: 21px;
        }
        

        .foto{
          
            margin: auto;
        }

        
    }


    #padres{
        height: 750px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-color: blue;
        color: black;

        h1{
            color: black;
        }

        h2{
            font-size:40px;
        }

        p{
font-size: 20px;
color: black;
        }
    }


  #cuenta-atras{
  
    height: 500px;
    
    background-size: cover;
    background-repeat: no-repeat;
            #countdown{
                background-color: rgba(0, 0, 0, 0.7);
                padding: 20px;
                width: 90%;
                height: 130px;
                border-radius: none;
            }
            
        }





    #ceremonia{
        height: 600px;
        
        background-color: $beige-oscuro;
        line-height: .9;
        h1{
            color: black;
            font-size: 30px;
            padding-bottom: 10px;
            line-height: 1;
        }

        p{
            line-height: 1.6;
        }
       
    }



    #padrinos{
       
        padding-top: 10px;
     
        margin-bottom: 0;
        height: 500px;
       
        display: flex;
        flex-direction: column;
        align-items: center;
       
        h1{
            color:black;
        }

        .carousel{
            line-height: .8;
            width: 95%;
            height: 350px;
            max-height: 350;
            display: flex;
            align-items: center;
            border: 4px solid $beige-oscuro;
            border-radius: 15px; /* Rounded corners */
            padding: 20px; /* Add some padding for content */
            text-align: center; /* Center text */
             background-color: #fff; /* White background */
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */

        }

    

      
    }


    
    #damas-honor{
       
        margin-bottom: 0;
        height: 700px;
        padding-top: 20px;
      
       
        
       
       
        display: flex;
        flex-direction: column;
        justify-content: justify;
        align-items: center;


        .elegant-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .elegant-list li {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }
        
        .elegant-list li:last-child {
            border-bottom: none;
        }
        
        .elegant-list li strong {
            margin-right: 10px;
        }
            
        
        
        h1{
            color:black;
        }

        .carousel{
            line-height: 1;
            width: 95%;
           
            height: 450px;
            display: flex;
            align-items: center;
            border: 4px solid $beige-oscuro;
            border-radius: 15px; /* Rounded corners */
            padding: 20px; /* Add some padding for content */
            text-align: center; /* Center text */
             background-color: #fff; /* White background */
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */

      
        }

      
    }


    #codigo-vestimenta{
        border: 10px solid #000;
        
        border: none;
        margin-top: 0;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        
        height: 80vh;
        background-image: url('/img/section_4.jpg');
        background-size: cover;

        h1{
            padding-bottom: 10px;
        }

        .dressContainer{
            // background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;



        }

    }



    #programa{
        background-color: $beige-oscuro;
       
        height: 1000px;
        padding-top: 20px;
        h1{
            color: black;
        }

       

        .event-section img{
            height: 50px;
        }

        
    }






    #wedding{
        padding: 20px;
    }




    .wedding-form {
        margin: auto;
        
        border: 2px solid #F8F8F8; 
        padding: 30px; /* Add some padding for content */
        text-align: center; /* Center text */
         background-color: #fff; /* White background */
       
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 

        max-width: 400px;
      
            

            h1{
                color:black;
            }



       
       
      }
      
      .wedding-form label {
        display: block;
        margin-bottom: 5px;
      }
      
      .wedding-form input[type="text"],
      .wedding-form select,
      .wedding-form textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .wedding-form textarea {
        height: 100px;
      }
      
      .wedding-form button {
        width: 100%;
        background-color:black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 20px;
      }
      
      .wedding-form button:hover {
        background-color: black;
      }


      #mesa-regalos{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $beige-oscuro;
        
       
        h1{
            color:black;
        }

        .card-mesa{
           
            padding: 4px;
            border-radius: 10px;
            background-color: $beige-oscuro;
           
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            height: 200px;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            // background-color: #f9f9f9;

            p{
                line-height: .5;
            }
        }
      }





   
  }//end smalll






  










//medium

//https://theme.co/forum/t/fix-for-parallax-issue-on-ipads/17540
//   /* Media query for medium screens (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    .x-section.bg-image.parallax, .x-section.bg-pattern.parallax {
        background-attachment:scroll !important;
           background-size: cover;
           height: 100%;
           overflow: hidden;
         
       }

    body {
        font-size: 25px;
      }
    
      .container {
        width: 100%;
      }
  
  
      h1{
          font-size: 40px;
          color: white;
      }
  
      p{
          font-size: 18px;
          color: gray;
      }
  
  
  
      #section1{
         
          height:100vh;
          
  
          .principal{
             
          
              text-align: center;
          
              font-family: 'Dancing Script', cursive;
              
  
            
  
              .enLinea{
                  margin-top: 50px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
  
                  .section{
                      font-size: 25px;
                      flex:1;
                      text-align: center;
                      border-top: 2px solid white;
                      border-bottom: 2px solid white;
                      padding: 10px 0;
  
                      &:not(:last-child){
                          margin-right: 10px;
                      }
  
  
                  }
                  
              }
  
  
             h1{
              font-size: 40px;
             }
              
              padding: 50px;
              border-radius: 10px;
              margin-top: 20px; /* Add margin for spacing */
              color: white;
              
          }
  
          
      }
  
  
      #section2{
          // background-color: rgba(0, 0, 0, 0.1);
          background-color: $beige-oscuro;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
  
          button{
              margin-bottom: 10px;
              margin-left: 10px;
              margin-right: 10px;
              background-color: black;
              font-size: 20px;
              width: 100%;
              color: #fff;
              border: none;
              padding: 10px 20px;
              font-size: 16px;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;
          }
         
          h1{
              color: black;
              font-size: 26px;
              font-weight: 200;
          }
         
          height: 800px;
  
          h2{
              font-size: 21px;
          }
          
  
          .foto{
            
              margin: auto;
          }
  
          
      }
  
  
      #padres{
          height: 750px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          background-color: blue;
          color: black;
  
          h1{
              color: black;
          }
  
          h2{
              font-size:40px;
          }
  
          p{
  font-size: 20px;
  color: black;
          }
      }
  
  
    #cuenta-atras{
  
    background-size: contain;
    
      height: 500px;
              #countdown{
                  background-color: rgba(0, 0, 0, 0.7);
                  padding: 20px;
                  width: 90%;
                  height: 130px;
                  border-radius: none;
              }
              
          }
  
  
  
  
  
      #ceremonia{
          height: 600px;
          
          background-color: $beige-oscuro;
          line-height: .9;
          h1{
              color: black;
              font-size: 30px;
              padding-bottom: 10px;
              line-height: 1;
          }
  
          p{
              line-height: 1.6;
          }
         
      }
  
  
  
      #padrinos{
         
          padding-top: 10px;
       
          margin-bottom: 0;
          height: 450px;
         
          display: flex;
          flex-direction: column;
          align-items: center;
         
          h1{
              color:black;
          }
  
          .carousel{
              line-height: .8;
              width: 95%;
              height: 250px;
              max-height: 350;
              display: flex;
              align-items: center;
              border: 4px solid $beige-oscuro;
              border-radius: 15px; /* Rounded corners */
              padding: 20px; /* Add some padding for content */
              text-align: center; /* Center text */
               background-color: #fff; /* White background */
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  
          }
  
        
      }
  
  
      
      #damas-honor{
         
          margin-bottom: 0;
          height: 500px;
          padding-top: 20px;
        
         
          
         
         
          display: flex;
          flex-direction: column;
          justify-content: justify;
          align-items: center;
          
          
          h1{
              color:black;
          }
  
          .carousel{
              line-height: 1;
              width: 95%;
             
              height: 300px;
              display: flex;
              align-items: center;
              border: 4px solid $beige-oscuro;
              border-radius: 15px; /* Rounded corners */
              padding: 20px; /* Add some padding for content */
              text-align: center; /* Center text */
               background-color: #fff; /* White background */
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  
        
          }
  
        
      }
  
  
      #codigo-vestimenta{
        background-color: blue;
          
          border: none;
          margin-top: 0;
          padding-top: 0;
  
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
  
          
          height: 500px;
         
          background-image: url('/img/section_4.jpg');
          
          background-size: contain;

  
          h1{
              padding-bottom: 10px;
          }
  
          .dressContainer{
              // background-color: rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              justify-content: space-between;
  
  
  
          }
  
      }
  
  
  
      #programa{
          background-color: $beige-oscuro;
         
          height: 500px;
          padding-top: 20px;
          h1{
              color: black;
          }
  
         
  
          .event-section img{
              height: 50px;
          }
  
          
      }
  
  
  
  
  
  
      #wedding{
          padding: 20px;
      }
  
  
  
  
      .wedding-form {
          margin: auto;
          
          border: 2px solid #F8F8F8; 
          padding: 30px; /* Add some padding for content */
          text-align: center; /* Center text */
           background-color: #fff; /* White background */
         
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  
          max-width: 400px;
        
              
  
              h1{
                  color:black;
              }
  
  
  
         
         
        }
        
        .wedding-form label {
          display: block;
          margin-bottom: 5px;
        }
        
        .wedding-form input[type="text"],
        .wedding-form select,
        .wedding-form textarea {
          width: 100%;
          padding: 8px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        
        .wedding-form textarea {
          height: 100px;
        }
        
        .wedding-form button {
          width: 100%;
          background-color:black;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-size: 20px;
        }
        
        .wedding-form button:hover {
          background-color: black;
        }
  
  
        #mesa-regalos{
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: $beige-oscuro;
          height: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;

          
         
          h1{
              color:black;
          }
  
          .card-mesa{
              padding: 4px;
              border-radius: 10px;
              background-color: $beige-oscuro;
             
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
              margin-bottom: 20px;
              height: 200px;
              width: 80%;
              flex-direction: column;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1;
              // background-color: #f9f9f9;
  
              p{
                  line-height: .5;
              }
          }
        }
  
  
  
  
  

}//end medium






  



  /* Media query for large screens (769px and above) */
@media (min-width: 769px) {


    .x-section.bg-image.parallax, .x-section.bg-pattern.parallax {
        background-attachment:scroll !important;
           background-size: cover;
           height: 100%;
           overflow: hidden;
         
       }



    body {
        font-size: 25px;
      }
    
      .container {
        width: 100%;
      }
  
  
      h1{
          font-size: 40px;
          color: white;
      }
  
      p{
          font-size: 18px;
          color: gray;
      }
  
  
  
      #section1{
         
          height:100vh;
          
  
          .principal{
             
          
              text-align: center;
          
              font-family: 'Dancing Script', cursive;
              
  
            
  
              .enLinea{
                  margin-top: 50px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
  
                  .section{
                      font-size: 25px;
                      flex:1;
                      text-align: center;
                      border-top: 2px solid white;
                      border-bottom: 2px solid white;
                      padding: 10px 0;
  
                      &:not(:last-child){
                          margin-right: 10px;
                      }
  
  
                  }
                  
              }
  
  
             h1{
              font-size: 40px;
             }
              
              padding: 50px;
              border-radius: 10px;
              margin-top: 20px; /* Add margin for spacing */
              color: white;
              
          }
  
          
      }
  
  
      #section2{
          // background-color: rgba(0, 0, 0, 0.1);
          background-color: $beige-oscuro;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
  
          button{
              margin-bottom: 10px;
              margin-left: 10px;
              margin-right: 10px;
              background-color: black;
              font-size: 20px;
              width: 100%;
              color: #fff;
              border: none;
              padding: 10px 20px;
              font-size: 16px;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;
          }
         
          h1{
              color: black;
              font-size: 26px;
              font-weight: 200;
          }
         
          height: 800px;
  
          h2{
              font-size: 21px;
          }
          
  
          .foto{
            
              margin: auto;
          }
  
          
      }
  
  
      #padres{
          height: 750px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          background-color: blue;
          color: black;
  
          h1{
              color: black;
          }
  
          h2{
              font-size:40px;
          }
  
          p{
  font-size: 20px;
  color: black;
          }
      }
  
  
    #cuenta-atras{
        
    
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
       
    
      height: 500px;
              #countdown{
                  background-color: rgba(0, 0, 0, 0.7);
                  padding: 20px;
                  width: 50%;
                  height: 130px;
                  border-radius: none;
              }
              
          }
  
  
  
  
  
      #ceremonia{
          height: 600px;
          
          background-color: $beige-oscuro;
          line-height: .9;
          h1{
              color: black;
              font-size: 30px;
              padding-bottom: 10px;
              line-height: 1;
          }
  
          p{
              line-height: 1.6;
          }
         
      }
  
  
  
      #padrinos{
         
          padding-top: 10px;
       
          margin-bottom: 0;
          height: 450px;
         
          display: flex;
          flex-direction: column;
          align-items: center;
         
          h1{
              color:black;
          }
  
          .carousel{
              line-height: .8;
              width: 95%;
              height: 250px;
              max-height: 350;
              display: flex;
              align-items: center;
              border: 4px solid $beige-oscuro;
              border-radius: 15px; /* Rounded corners */
              padding: 20px; /* Add some padding for content */
              text-align: center; /* Center text */
               background-color: #fff; /* White background */
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  
          }
  
        
      }
  
  
      
      #damas-honor{
         
          margin-bottom: 0;
          height: 500px;
          padding-top: 20px;
        
         
          
         
         
          display: flex;
          flex-direction: column;
          justify-content: justify;
          align-items: center;


          
      
          
          h1{
              color:black;
          }
  
          .carousel{
              line-height: 1;
              width: 95%;
             
              height: 300px;
              display: flex;
              align-items: center;
              border: 4px solid $beige-oscuro;
              border-radius: 15px; /* Rounded corners */
              padding: 20px; /* Add some padding for content */
              text-align: center; /* Center text */
               background-color: #fff; /* White background */
              box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  
        
          }
  
        
      }
  
  
      #codigo-vestimenta{
        background-color: blue;
          
          border: none;
          margin-top: 0;
          padding-top: 0;
  
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
  
          
          height: 500px;
         
          background-image: url('/img/section_4.jpg');
          
          background-size: contain;

  
          h1{
              padding-bottom: 10px;
          }
  
          .dressContainer{
              // background-color: rgba(0, 0, 0, 0.2);
              display: flex;
              align-items: center;
              justify-content: space-between;
  
  
  
          }
  
      }
  
  
  
      #programa{
          background-color: $beige-oscuro;
         
          height: 500px;
          padding-top: 20px;
          h1{
              color: black;
          }
  
         
  
          .event-section img{
              height: 50px;
          }
  
          
      }
  
  
  
  
  
  
      #wedding{
          padding: 20px;

          background-image: url('/img/background11.png');
     
          
      }
  
  
  
  
      .wedding-form {
          margin: auto;
          
          border: 2px solid #F8F8F8; 
          padding: 30px; /* Add some padding for content */
          text-align: center; /* Center text */
           background-color: #fff; /* White background */
         
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
  
          max-width: 400px;
        
              
  
              h1{
                  color:black;
              }
  
  
  
         
         
        }
        
        .wedding-form label {
          display: block;
          margin-bottom: 5px;
        }
        
        .wedding-form input[type="text"],
        .wedding-form select,
        .wedding-form textarea {
          width: 100%;
          padding: 8px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
        
        .wedding-form textarea {
          height: 100px;
        }
        
        .wedding-form button {
          width: 100%;
          background-color:black;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-size: 20px;
        }
        
        .wedding-form button:hover {
          background-color: black;
        }
  
  
        #mesa-regalos{
          padding-top: 20px;
          padding-bottom: 20px;
          background-color: $beige-oscuro;
          height: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;

          
         
          h1{
              color:black;
          }
  
          .card-mesa{
              padding: 4px;
              border-radius: 10px;
              background-color: $beige-oscuro;
             
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
              margin-bottom: 20px;
              height: 200px;
              width: 80%;
              flex-direction: column;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 1;
              // background-color: #f9f9f9;
  
              p{
                  line-height: .5;
              }
          }
        }
  
  
  
  
  








    
  
  }//end larger

